<script th:src="@{/ruoyi/js/ry-ui.js?v=4.1.0}"></script>
<header class="commonHeadGrid">
    <div class="headGrid layoutWidth w1200">
        <a th:href="@{/blog}"><span style='color:#32CD32;font-size:28px'
                                    th:text="${@config.getKey('blog.index.title')}"></span>
        </a>

        <div class="menuBtnWrapLayout openBtn" id="touchMenuOpen"><i class="iconfont icon-liebiao"></i></div>
        <div class="menuGroup strong layoutHide">
        	<span class="item">
                <a target="_blank" th:href="@{/admin}">登陆后台</a>
    		</span>
        </div>
    </div>
    <div class="headGrid nav layoutWidth w1200">

        <!-- searchGroup -->
        <div class="searchGroup layoutHide">
            <form method="get" onsubmit="return checkSearch()" target="_blank" th:action="@{/blog/search}">
                <div id="searchtxt">
                    <input class="searchInput" id="searchInput" name="content" placeholder="请输入关键词进行搜索。"
                           type="text"/>
                </div>
                <button class="searchBtn" id="searchbtn" type="submit"><i class="iconfont icon-sousuo"></i></button>
            </form>
        </div>

        <div class="menuLayout" id="menuLayout" style="float: right;">
            <div class="menuBtnWrapLayout closeBtn" id="touchMenuClose"><i class="iconfont icon-cuowu"></i></div>
            <nav class="menuGroup">
                <span class="item"><a th:class="${categoryId=='index' ? 'current' : ''} "
                                      th:href="@{/blog}">首页</a></span>

                <span class="item">
                    <a th:class="${categoryId=='category'? 'current':''}" th:href="@{/blog/category}">文章分类</a>
        		</span>
                <span class="item">
                    <a th:class="${categoryId=='resource'? 'current':''}"
                       th:href="@{/blog/resource/list?pageSize=6}">资源</a>
        		</span>
                <span class="item">
                    <a th:class="${categoryId=='nav'? 'current':''}" th:href="@{/blog/nav}">导航</a>
        		</span>
                <span class="item">
                    <a th:class="${categoryId=='siteMsg'? 'current':''}" th:href="@{/blog/siteMsg}">留言</a>
        		</span>
            </nav>
        </div>


    </div>
</header>
<script type="text/javascript">
    function checkSearch() {
        var searchInput = $('#searchInput').val();
        var searchVal = $.trim(searchInput);
        if (searchVal == '') {
            layer.msg("哎呀，你好像忘记输入搜索内容了！");
            return false;
        }
        if (searchVal.length < 2) {
            layer.msg("搜索关键字至少需要2个字哟！");
            return false;
        }
        return true;
    }
</script>