<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改附件')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-attachment-edit" th:object="${attachment}">
        <input name="attachId" th:field="*{attachId}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">组ID：</label>
            <div class="col-sm-8">
                <input class="form-control" name="zid" required th:field="*{zid}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">用户ID：</label>
            <div class="col-sm-8">
                <input class="form-control" name="userId" th:field="*{userId}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">类型：</label>
            <div class="col-sm-8">
                <select class="form-control" name="fileType" th:with="types=${@cms.selectFileTypeDictData()}">
                    <option value="">所有</option>
                    <option th:each="type : ${types}" th:field="*{fileType}" th:text="${type.dictLabel}"
                            th:value="${type.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">名称：</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="fileName" required>[[*{fileName}]]</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">路径：</label>
            <div class="col-sm-8">
                <input class="form-control" name="filePath" required th:field="*{filePath}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">大小：</label>
            <div class="col-sm-8">
                <input class="form-control" name="size" th:field="*{size}" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">排序：</label>
            <div class="col-sm-8">
                <input class="form-control" name="sort" th:field="*{sort}" type="text">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript">
    var prefix = ctx + "cms/attachment";
    $("#form-attachment-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-attachment-edit').serialize());
        }
    }
</script>
</body>
</html>